@model List<Taquilleras.Entities.TransactionDetail>
    <div class="container" >
        @foreach (Taquilleras.Entities.TransactionDetail detail in Model)
        {
            <div class="row" >
                <div class="col-sm-4 col-xs-10">
                    <span class="control-label">@detail.Product.Description </span>
                    <span class="control-label">@detail.MovementType.Description </span>
                </div>
                <div class="col-sm-6 col-xs-6">
                    @Html.TextBox(string.Format("t-{0};d-{1};p-{2};m-{3}",detail.Transaction.Id,detail.Id,detail.Product.IdProduct,detail.MovementType.IdTipoMovimiento), detail.Quantity)
                </div>
            </div>
        }
    </div>
